<style>
	  .dashboard {
 background-color: rgba(47, 54, 54, 0.57);
  margin: 10px 10px;
  border-radius: 20px;
  padding: 15px;
  height: auto;
  box-shadow: 16px 13px 40px #0a0000;

  }
</style>

<aside class="col-md-3" >
		<!--   SIDEBAR   -->
		<ul class="list-group dashboard">
	{% if user.is_staff %}
		<a class="list-group-item {% if '/add_category/' == request.path %}active{% endif %}" href="{% url 'add_category' %}"> Add Category </a>
		<a class="list-group-item {% if '/add_product/' == request.path %}active{% endif %}" href="{% url 'add_product' %}"> Add Product</a>
		<a class="list-group-item {% if '/add_variation/' == request.path %}active{% endif %}" href="{% url 'add_variation' %}">Update product variation</a>
		<a class="list-group-item {% if '/add_product_gallery/' == request.path %}active{% endif %}" href="{% url 'add_product_gallery' %}">add gallery</a>
		<a class="list-group-item {% if '/inventory/' == request.path %}active{% endif %}" href="{% url 'inventory' %}">Inventory</a>
	{% endif %}
	<a class="list-group-item {% if '/accounts/' == request.path %}active{% endif %}" href="{% url 'dashboard' %}"> Dashboard </a>
    <a class="list-group-item {% if '/my_orders/' in request.path %}active{% endif %}" href="{% url 'my_orders' %}"> My Orders </a>
    <a class="list-group-item {% if '/edit_profile/' in request.path %}active{% endif %}" href="{% url 'edit_profile' %}"> Edit Profile </a>
    <a class="list-group-item {% if '/change_password/' in request.path %}active{% endif %}" href="{% url 'change_password' %}"> Change Password </a>

		</ul>
		<br>
		  <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>

		<!--   SIDEBAR .//END   -->
	</aside>